@model IEnumerable<NETMVC_Upg1.Data.AppUser>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-8">WIN 20 | .Net Utvecklare, Örebro</h1>
</div>
@if (SignInManager.IsSignedIn(User))
{ 
    <div class="wrapper d-flex flex-row row ">
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
                    @if (item.Role != "" || item.Role == "Admin")
                    {
                        <div class="col-md-3  parent active card text-center d-flex align-items-center " style="background-color: transparent; border:none;">
                            <div class="imgdiv position-relative mt-10" style="height: 100px;">
                                <img class="card-img-top rounded-circle " style="width: 50%;" src="~/css/Img/bild.jpg" alt="Card image cap">
                            </div>
                            <div class="test card-body text-light rounded">
                                <h5 class="card-text mt-5">@item.FirstName @item.LastName</h5>
                                <p>@item.Role</p>
                                <p class="lightText">@item.ClassName</p>
                            </div>
                            <div class="bottomLine rounded"></div>
                        </div>
            }
        }
        //BytMig123!
    }
    </div>
}
