body{
    background-color: grey;
}
.parent{
    margin-top: 50px;
}
#logo {
    width: 50%;
}
.wrapper {
    margin-top: 50px;
}
h5{
    font-size: 16px;
}
h5, p {
    margin-top: 0px;
    color: black;
}
.lightText{
    color: grey
}
.test {
    width: 100%;
    background-color: white;
    height: 170px;
}
.bottomLine {
    display: none;
    background-color: #f7815d;
    height: 10px;
    width: 90%;
    margin-top: 0;
}
.parent:hover .test, .parent.hover .test {
    background-color: #fe5520;
}
.parent:hover .test h5, .parent.hover .test h5 {
    color: white;
}
.parent:hover .test p, .parent.hover .test p {
    color: white;
}
.parent:hover .test .lightText, .parent.hover .test .lightText {
    color: #af2f07;
}
.parent:hover .bottomLine, .parent.hover .bottomLine {
    display: block;
}
    

